form.form-horizontal
  .form-group
    label.col-md-1 Name
    .col-md-11
      input#name.form-control

  .form-group
    label.col-md-1 Address
    .col-md-11
      input#address.form-control

  .form-group
    label.col-md-1 Address2
    .col-md-11
      input#address2.form-control

  .form-group
    label.col-md-1 City
    .col-md-11
      input#city.form-control

  .form-group
    label.col-md-1 State
    .col-md-11
      input#state.form-control

  .form-group
    label.col-md-1 ZIP
    .col-md-11
      input#zip.form-control

  .form-group
    label.col-md-1 Phone
    .col-md-11
      input#phone.form-control

.btn-group
  button#save.btn.btn-primary Save
  button#cancel.btn Cancel
  