.row
  button#add.btn.btn-primary Add
  button#delete_all.btn.btn-danger Delete All

- for c in clients
  .row
    .col-md-2 #{ c.name }
    .col-md-2 #{ c.address }
    .col-md-2 #{ c.address2 }
    .col-md-2 #{ c.city }
    .col-md-1 #{ c.state }
    .col-md-1 #{ c.zip }
    .col-md-2 #{ c.phone }
