doctype html5
html
  head
    title ok

    link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='bower_components/flatui/css/flat-ui.css')

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/underscore/underscore-min.js')
    script(src='bower_components/underscore.string/dist/underscore.string.min.js')
    script(src='bower_components/backbone/backbone.js')
    script(src='bower_components/mustache/mustache.js')
    script(src='bower_components/jquery-Mustache/jquery.mustache.js')
    script(src='bower_components/async/lib/async.js')

    script
      | var _s = _.string;

    block head

  body
    #content.container-fluid
      block content
