script#main
  ul.nav.nav-pills
    li
      a#clients(href='#clients') Clients

script#clients
  .row
    a.btn.btn-primary(href='#clients/add') Add Client
    button#delete_all.btn.btn-danger Delete All Clients
  
  | {{ #clients }}
  .row.client-row(id='client_{{ _id }}')
    .col-md-2 {{ name }}
    .col-md-10
      .btn-group
        a.btn(href='#clients/{{ _id }}/edit') Edit
        a.btn(href='#clients/{{ _id }}/projects') Projects
        button.delete.btn.btn-danger Delete
  | {{ /clients }}

script#projects
  .row
    .btn-group
      a.btn.btn-primary(href='#clients/{{ client_id }}/projects/add') Add Project
      a.btn(href='#clients') Back

    button#delete_all.btn.btn-danger Delete All Projects

  | {{ #projects }}
  .row.project-row(id='project_{{ id }}')
    .col-md-2 {{ name }}
    .col-md-10
      .btn-group
        a.btn(href='#clients/{{ _id }}/projects/{{ id }}') Edit
        a.btn(href='#clients/{{ _id }}/projects/{{ id }}/tasks') Tasks
        button.delete.btn.btn-danger Delete

  | {{ /projects }}

script#add_client
  form.form-horizontal
    .form-group
      label.col-md-1 Name
      .col-md-11
        input#name.form-control
  
    .form-group
      label.col-md-1 Address
      .col-md-11
        input#address.form-control
  
    .form-group
      label.col-md-1 Address2
      .col-md-11
        input#address2.form-control
  
    .form-group
      label.col-md-1 City
      .col-md-11
        input#city.form-control
  
    .form-group
      label.col-md-1 State
      .col-md-11
        input#state.form-control
  
    .form-group
      label.col-md-1 ZIP
      .col-md-11
        input#zip.form-control
  
    .form-group
      label.col-md-1 Phone
      .col-md-11
        input#phone.form-control
  
  .btn-group
    button#save.btn.btn-primary Save
    a.btn(href='#clients') Cancel

script#add_project
  form.form-horizontal
    .form-group
      label.col-md-1 Name
      .col-md-11
        input#name.form-control

  .btn-group
    button#save.btn.btn-primary Save
    a.btn(href='#clients/{{ client_id }}/projects') Cancel
